{% extends 'catalog/templates.html' %}

{% block style %}
input {
    display: block;
    margin-bottom: 40px;
    padding: 10px;
    width: 100%;
}
.form-manual {
    width: 40%;
    background: white;
    padding: 20px 60px 40px 60px;
    float: right;
}
.form-input {
    padding: 20px 60px 40px 60px;
}
.main {
    box-sizing: border-box;
    width: 100%;
    background-image: url('{% static 'author/sign_up.jpg'%}');
    margin: -80px 0px -90px 0;
    background-size: contain;
    padding: 20px;
}

label {
    font-weight: 600;
}
.content {
    float: left;
    width: 60%;
}

.form-manual form input {
    background: rgba(128,128,128, 0.4) !important;
}

.form-manual h1 {
    font-size: 28px;
    font-family: Staatliches, serif;
    font-weight: bolder;
    margin: 40px 10px 40px 10px;
    text-align: center;
}

.main::after {
    content: '';
    clear: both;
    display: table;
}
{% endblock style %}

{% block head_tags %}

{% endblock head_tags %}

{% block body %}
<div class="main">
    <div class="content">

    </div>

    <div class="form-manual">
    <h1> Create an account </h1>
        <form method="POST" action="">
        {% load crispy_forms_tags %}
        {% csrf_token %}
        {{ form_class|crispy }}
        <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
</div>
{% endblock body %}
